.layout {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.containerMain {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 85vh;
  height: 85vh;
  overflow: hidden;
  

  @media screen and (max-width: 1024px) {
 
  }

  @media screen and (max-width: 768px) {
    
  }

  @media screen and (max-width: 480px) {
    min-height: 80vh;
    height: 80vh;
  }

}

.footerNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  height: 15vh;
  position: relative;
  z-index: 2;

  @media screen and (max-width: 480px) {
    min-height: 15vh;
  height: 15vh;
  }

}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  overflow: hidden;
}

a {
  text-decoration: none;
}