html, body, a, #root {
  height: 100dvh; /* Usa dvh para compatibilidad con Safari */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita el scroll vertical */
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Se adapta a la pantalla */
}


.containerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;  /* Expande para ocupar el espacio disponible */
  overflow-y: auto; /* Solo permite scroll si es necesario */
  max-height: calc(100dvh - 120px); /* Ajusta el tamaño restando la altura del navbar */

}

.footerNavbar {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
